.header_txt{
    display: flex;
    justify-content: center;
    align-items: center;
}

.htxt_background{
    background: url("../../Assets/img/hero/hero2.png");
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media(min-width:426px){
    .htxt_background{
        height: 350px;
    }
}
@media(min-width:769px){
    .htxt_background{
        height: 400px;
    }
}


.text_h1_header{
    font-size: 50px;
}

.about_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_inner {
    width: 70%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px 0;
    padding: 50px 0;
}

.ai_mission {
    display: grid;
    gap: 20px;
}

.mission_h1 {
    font-size: 30px;
    color: #000a2d;
    text-align: center;
}

.mission_p {
    font-size: 16px;
    color: #464d65;
    line-height: 2;
}

.br_space {
    margin-bottom: 20px;
    display: block;
}

/* @media(max-width:500px){
    .about_inner{
        width: 80%;
    }
} */

/* Better services container */

.ab_betterservices_ctr {
    width: 100%;
    height: 100vh;
    display: flex; 
}

@media(max-width:900px) {
    .ab_betterservices_ctr {
        flex-direction: column;
    }
}

.ab_ctr_img {
    flex: 1;
    background: url("../../Assets/img/gallery/about.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.bs_ctr__box {
    padding: 43px 83px;
    background: #1a1f50;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ctr_box__num{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_num__i{
    width: 28px;
    height: 39px;
    font-size: 16px;
}
.box_num__num{
    font-size: 40px;
}
.bs_ctr__box:nth-child(2) {
    background: #eb4916;
}

@media(max-width:550px) {
    .bs_ctr__box {
        padding: 22px 44px;
    }.box_num__i{
        width: 24px;
        height: 35px;
        font-size: 14px;
    }
    .box_num__num{
        font-size: 30px;
    }
}

@media(max-width:350px) {
    .bs_ctr__box {
        padding: 12px 22px;
    }


}

.ctr_box__num {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}











/* Data container */

.ab_ctr_data {
    flex: 1;
    background: url("../../Assets/img/gallery/section_bg02.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
}

.ab_ctr__datas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    text-wrap: wrap;
}

.ctr_data_h1 {
    font-size: 44px;
}

.ctr_data_p {
    font-size: 20px;
}

.ctr_data_p_2 {
    font-size: 16px;
}

.ctr_data_btn {
    background: #232024;
    text-transform: capitalize;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 27px 44px;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    transition: color 0.4s linear;
}

@media(max-width:900px) {
    .ab_ctr_data {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .ab_ctr__datas {
        width: 90%;
        margin: auto;
    }
}

@media(max-width:550px) {
    .ctr_data_h1 {
        font-size: 34px;
    }

    .ctr_data_p {
        font-size: 18px;
    }

    .ctr_data_p_2 {
        font-size: 14px;
    }

    .ctr_data_btn {
        padding: 20px 34px;
        font-size: 12px;
    }

}

@media(max-width:350px) {
    .ctr_data_h1 {
        font-size: 24px;
    }

    .ctr_data_p {
        font-size: 16px;
    }

    .ctr_data_p_2 {
        font-size: 12px;
    }
}