.header_section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../Assets/img/hero/h1_hero.png);
    background-repeat: no-repeat;
    /* height: 100%; */
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    overflow: hidden;
    padding: 50px 0;
    padding-top: 200px;
}

.header_container {
    display: grid;
    grid-template-columns: 150px 1fr;
    width: 100%;
    align-items: center;
    height: 100%;
    justify-content: center;
}

/* Button Classess */

.header_container_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
    gap: 50px;
    height: 100%;
}

.cbtn_p {
    transform: rotate(90deg);
    color: #45454f;
}

/* btns */

.cbtn_btn_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cbtn_btn {
    width: 5px;
    height: 40px;
    background-color: #a3a3a3;
}

.cbtn_btn1 {
    width: 5px;
    height: 30px;
    background-color: black;
}

@media(max-width:686px) {
    .header_container_btn {
        display: none;
    }

    .header_container {
        grid-template-columns: 1FR;
    }

}



/* Content Side */

.header_container_content {
    /* background-color: aquamarine; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.ripple_container {
    background: #232024;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    /* line-height: auto; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ripple_container_top {
    position: relative;
    margin-bottom: 20px;
}

.ripple_container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #232024;
    border-radius: 50%;
    animation: animate 1.5s ease-in-out infinite;
}

.rc_icon {
    color: white;
}

.ripple_container:hover {
    background-color: var(--vibrant-primary);
}

@keyframes animate {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}


.content_head__p {
    font-size: 18px;
    /* background-color: azure; */
    padding: 10PX 0;
    overflow: hidden;
}
.content_head_dia {
    font-size: 50px;
    font-family: var(--font-roboto);
    padding: 10px 0;
    font-weight: 800;
    /* background-color: azure; */
    overflow: hidden;
}

.content_head_discription {
    padding: 10px 0;
    /* background-color: azure; */
    overflow: hidden;
    max-width: 50%;
    text-wrap: wrap;
}

.content_head_contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    /* background-color: azure; */
    padding: 10PX 0;
    overflow: hidden;
}

.content_head_contact>p {
    font-size: 16px;
    padding: 5PX 0;
}
@media(max-width:455px){
    .content_head_dia{
        font-size: 30px;
    }
    .content_head_contact {
        padding: 5PX 0;
    }
    .content_head_discription {
        padding: 5px 0;
        width: 100%;
    }
    .content_head__p {
        padding: 5PX 0;
    }
}

/* Animation Keyframes */
@keyframes bottomToTop {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes leftToRight {
    0% {
        transform: translateX(0%);
        opacity: 0;
    }

    100% {
        transform: translateX(100%);
        opacity: 1;
    }
}

/* Applying the animation */
.content_head__p,
.content_head_dia>p,
.content_head_discription p {
    animation: bottomToTop 5s ease-out infinite;
    opacity: 0;
}

.content_head_contact {
    animation: bottomToTop 5s ease-in infinite;
    opacity: 0;
}

/* Specific timings and delays */
.content_head__p {
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

.content_head_dia>p {
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}

.content_head_discription p {
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}


.content_head_contact {
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}