.header_txt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.htxt_background {
    background: url("../../Assets/img/hero/hero2.png");
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(min-width:426px) {
    .htxt_background {
        height: 350px;
    }

    .text_h1_header {
        font-size: 30px;
    }
}

@media(min-width:769px) {
    .htxt_background {
        height: 400px;
    }
}


.text_h1_header {
    font-size: 50px;
    margin-top: 50px;
}




/* Start */
.blog_page {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 30px 0;
}

.blog_container {
    /* border: 1px dotted black; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    max-width: 1200px;
    gap: 20px;
    padding: 5px;
}


/* left ctr */

/* Card page */
.blog_ctr_left {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    flex: 2;
}

.left_card_ctr {
    /* border: 1px solid black; */
    /* padding:10px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    /* margin-bottom: 50px; */
}


.card_ctr_box {
    /* border: 2px solid darkcyan; */
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.img_ctr {
    width: 100%;
    position: relative;
}

.img_ctr__img {
    width: 100%;
    height: 100%;
}

.img__img {
    width: 100%;
    height: 100%;
}

/* Date Box */
.img_ctr__date {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ff2121;
    padding: 10px 17px;
    color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    bottom: -10px;
    font-weight: 500;
}

.img_ctr__date:hover {
    background: transparent;
    color: #ff2121;
}

/* left ---> Text ctr */

.txt_ctr {
    background: white;
    box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
    padding: 40px 20px;
}

.txt_ctr_h3 {
    font-size: 24px;
    color: #0b1c39;
    margin-bottom: 15px;
    font-weight: 500;
}

.txt_ctr_p {
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 18px;
    color: #501672;
    font-size: 16px;
}


/* Txt CTR ---> ul */
.txt_ctr_ul {
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 1px solid black; */
    justify-content: flex-start;
}

.ul__li_1 {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    color: #999;
}

.ul__li_1:nth-child(2)::before {
    content: "|";
    top: 0;
    left: 0;
    padding-right: 10px;
}

.li_1__icon {
    font-size: 14px;
}

.li_1__p {
    font-size: 14px;
}





/* Pagination */


.left_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8a8a8a;
    margin: 30px 0;
}

.pagination_btn_ctr{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.pn_btn_ctr{
    background: #fff;
    border: 1px solid #f0e9ff;
    padding: 5px;
}
.icon__btn{
    cursor: pointer;
}
.ul_ctr{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.ul_ctr__li{
    cursor: pointer;
    border: 1px solid #f0e9ff;
    padding: 5px;
}

/* Active */
.ul_ctr__li.active{
    background: #007bff;
}

.icon__btn:hover{
    color: #ff2121;
}
.ul_ctr__li:hover{
    color: #ff2121;
}


@media(max-width:992px) {
    .blog_container {
        flex-direction: column;
    }

    .img_ctr__img {
        width: 100%;
    }

    .blog_ctr_left {
        flex: 1;
    }
}

@media(max-width:768px) {
    .blog_container {
        width: 90%;
    }

    .txt_ctr_h3 {
        font-size: 18px;
    }

    .txt_ctr_p {
        font-size: 14px;
    }
    .pagination_btn_ctr{
        gap: 10px;
    }
    .ul_ctr{
        gap: 10px;
    }
}

@media(max-width:576px) {

    .txt_ctr_p {
        font-size: 13px;
    }

    .img_ctr__date {
        padding: 5px 10px;
        border-radius: 5px;
        left: 10px;
        bottom: -10px;
    }

    .li_1__icon {
        font-size: 10px;
    }

    .li_1__p {
        font-size: 10px;
    }
}

/* ------------------------------------------------------ */

/* Right ctr */

.blog_ctr_right {
    /* border: 1px solid lawngreen; */
    flex: 1;
    width: 100%;
}

.right_ctr {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px
}


/* Search ctr */
.rctr_search {
    width: 100%;
    height: 100%;
    padding: 30px 10px;
    background: #fbf9ff;
    display: grid;
    gap: 10px;
}

.form_inp {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.form__inp {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #f0e9ff;
    background: #fff;
}

.from__btn {
    cursor: pointer;
    padding: 8px 15px;
    background: #ff2121;
    color: white;
    font-size: 16px;
    border: none;
}

.form_search {
    background: #fff;
    color: #ff2121;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Muli", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #ff2121;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s ease-in;
}

.form_search:hover {
    background: #ff2121;
    color: #fff;
}


/* Category */

.rctr_category {
    width: 100%;
    padding: 30px 20px;
    background: #fbf9ff;
}

.cat_h4 {
    font-size: 20px;
    font-weight: 600;
    color: #0b1c39;
    margin-bottom: 20px;
}

.cat_h4::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff;
}

.cat_ul {
    display: grid;
    gap: 20px;
}

.ul_li {
    display: flex;
    gap: 10px;
    color: #506172;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 1px solid #f0e9ff;
    padding-bottom: 10px;
    line-height: 30px;
    font-family: 500;
}

.ul_li:nth-child(4) {
    border-bottom: none;
}

.ul_li:hover {
    color: #ff2121;
}

/* Recent post */

.rctr_recent_post {
    width: 100%;
    padding: 30px 20px;
    background: #fbf9ff;
}

.post_ctr_h3 {
    font-size: 20px;
    font-weight: 600;
    color: #0b1c39;
    margin-bottom: 20px;
}

.post_ctr_h3::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff;
}

.post_ctr {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 20px;

}


.post_ctr_img {
    min-width: 80px;
    height: 80px;
    object-fit: cover;
}

.pcimg__img {
    width: 100%;
    height: 100%;
}

.pcimg_ctr {
    padding: 5px 10px;
}

.pcimg_ctr_p1 {
    font-size: 16px;
    margin-bottom: 6px;
    color: #0b1c39;
    font-weight: 500;
}

.pcimg_ctr_p2 {
    color: #506172;
    font-size: 14px;
}

@media(max-width:992px) {
    .blog_ctr_right {
        flex: 1;
    }
}

/* Tags */

.rctr_tags {
    width: 100%;
    padding: 30px 20px;
    background: #fbf9ff;
}

.tags_h3 {
    font-size: 20px;
    font-weight: 600;
    color: #0b1c39;
    margin-bottom: 20px;
}

.tags_h3::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff;
}

.tags__ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.tags__ul_li {
    background: #fff;
    color: #888;
    padding: 4px 20px;
    border: 1px solid #b9b9b9;
    margin: 0 3px 8px 0;
    cursor: pointer;
    font-size: 13px;
    transition: .3s all ease-in;
}

.tags__ul_li:hover {
    background: #ff2121;
    color: #fff;
}


/* Insta feeds */


.rctr_instafeeds {
    /* border: 1px solid green; */
    width: 100%;
    padding: 30px 20px;
    background: #fbf9ff;

}

.ifeeds_h3 {
    font-size: 20px;
    font-weight: 600;
    color: #0b1c39;
    margin-bottom: 20px;
}


.ifeeds_h3::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff;
}

.ifeeds_img_ctr {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.ifeeds_single_img_ctr {
    width: 90px;
    height: 90px;
    object-fit: cover;
    cursor: pointer;
}

.ifeeds__imgs {
    width: 100%;
    height: 100%;
}


/* News Letter */

.rctr_newsletter {
    /* border: 1px solid green; */
    width: 100%;
    padding: 30px 20px;
    background: #fbf9ff;
}

.rctr_nl__h3 {
    font-size: 20px;
    font-weight: 600;
    color: #0b1c39;
    margin-bottom: 20px;

}

.rctr_nl__h3::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff;

}

.nl_inp_btn_ctr {
    display: flex;
    flex-direction: column;
}

.nl_inp {
    height: 50px;
    border: 1px solid #f0e9ff;
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0;
    margin-bottom: 10px;
    outline: none;
}

.nl_btn {
    background: #fff;
    color: #ff2121;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Muli", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #ff2121;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s ease-in;
}
.nl_btn:hover {
    background: #ff2121;
    color: #fff;
}