.header_txt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.htxt_background {
    background: url("../../Assets/img/hero/hero2.png");
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(min-width:426px) {
    .htxt_background {
        height: 350px;
    }
    .text_h1_header {
        font-size: 30px;
    }
}

@media(min-width:769px) {
    .htxt_background {
        height: 400px;
    }
}


.text_h1_header {
    font-size: 50px;
    margin-top: 50px;
}



/* conatct  */
.contact_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid blue;
    width: 80%;
    padding: 50px 0;
}


.contact_map_ctr {
    background-color: antiquewhite;
    width: 100%;
    height: 500px;
    max-width: 1200px;
}

@media(max-width:425px) {
    .contact_section {
        width: 90%;
    }
}
@media(max-width:1024px) {
    .contact_map_ctr {
        height: 300px;
    }
}

.map {}